<div id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <p>PATCH<b>ETS</b> <small>- Panneau d'administration</small></p>
      </div>
    </nav>
  </div>
</div>
<div id="subheader">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <% if current_page?(admin_path)%> active <% end %>"> <%= link_to 'Tableau de bord', admin_path, class: 'nav-link' %> </li>
          <li class="nav-item <% if current_page?(admin_clubs_path)%> active <% end %> "> <%= link_to 'Clubs Étudiant', admin_clubs_path, class: 'nav-link' %></li>
          <li class="nav-item <% if current_page?(admin_patch_types_path)%> active <% end %>"> <%= link_to 'Type de Regroupement', admin_patch_types_path, class: 'nav-link' %></li>
          <li class="nav-item <% if current_page?(admin_configs_path)%> active <% end %>"> <%= link_to 'Configuration', admin_configs_path, class: 'nav-link' %></li>
          <li class="nav-item <% if current_page?(admin_orders_path)%> active <% end %>"> <%= link_to 'Demandes', admin_orders_path, class: 'nav-link'%></li>
          <li class="nav-item <% if current_page?(admin_inventory_path)%> active <% end %>"> <%= link_to 'Inventaire', admin_inventory_path, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

