<%= render partial: "layouts/admin_nav"%>

<div id="content">
  <div class="container mb-5 whiteContainer">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
        <h2>Gestion des regroupements</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <!-- ALERTS -->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Le regroupement à bien été modifié.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          Une erreur s'est produite lors de la modification.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- // END ALERTS -->

        <%= link_to 'Ajouter un club', new_admin_club_path, {class: 'btn btn-primary btn-sm'}%>
        <br><br>
        <table id="groups" class="table table-striped table-bordered table-sm" style="width:100%">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Date de création</th>
            <th>Date de fermeture</th>
            <th>Statut</th>
            <th class="no-sort">Action</th>
          </tr>
          </thead>
          <tbody id="fillByCSV">
          <% @clubs.each do |club| %>
          <tr data-id="0">
            <td><%= club.name %></td>
            <td>
            <% if club.patch_type_id.present?%>
            <%= club.patch_type.try(:name) %>
             </br> 
            <% end %>
             <% if club.value_type.present?%>
             <%= club.value_type%>
             <% end%>
            </td>
            <%if club.start_date.nil? %>
              <td class="center"> - </td>
            <%else%>
              <td class="center"><%= club.start_date %></td>
            <%end%>
            <%if club.end_date.nil? %>
              <td class="center"> - </td>
              <td class="fit center">
                <span class="badge badge-success">Actif</span>
              </td>
            <%else%>
              <td class="center"><%= club.end_date %></td>
              <td class="fit center">
                <span class="badge badge-danger">Inactif</span>
              </td>
            <%end %>
            <td class="fit">
              <%= link_to 'Modifier', edit_admin_club_path(club), {class: 'btn btn-primary btn-sm'}%>
              <%= link_to 'Supprimer', admin_club_path(club),class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?'}%>
            </td>
          </tr>
          <%end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<input id="csv" type="file" value="data/regroupements.csv">

