<div id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <p>PATCH<b>ETS</b> <small>- Panneau d'administration</small></p>
      </div>
    </nav>
  </div>
</div>
<div id="subheader">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <%= link_to 'Tableau de bord', admin_path, class: 'nav-link' %> </li>
          <li class="nav-item active"> <%= link_to 'Clubs Étudiant', admin_clubs_path, class: 'nav-link' %></li>
          <li class="nav-item"> <%= link_to 'Type de Regroupement', admin_patch_types_path, class: 'nav-link' %></li>
          <li class="nav-item"> <%= link_to 'Configuration', admin_configs_path, class: 'nav-link' %></li>
          <li class="nav-item"> <%= link_to 'Demandes', admin_orders_path, class: 'nav-link'%></li>
          <li class="nav-item"> <%= link_to 'Inventaire', admin_inventory_path, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div id="content">
  <div class="container mb-5 whiteContainer">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
        <h2>Création d'un regroupement</h2>
      </div>
    </div>
    <%= render 'form', club: @club %>
  </div>
</div>
