<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<% @orders.each do |order| %>
  <h3><%= link_to order.full_name, order %></h3>

  <table class="table">
    <thead>
      <th>Patch</th>
      <th>Officiel?</th>
      <th>Rouge?</th>
    </thead>
    <tbody>

      <% order.items.each do |item|  %>
        <tr>
          <td><%= item.full_text  %></td>
          <td><%= item.official?  %></td>
          <td><%= item.founder? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr/>

<% end %>

<%= link_to 'New Order', new_order_path %>
