<p id="notice"><%= notice %></p>

<h1>Patch Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patch_types.each do |patch_type| %>
      <tr>
        <td><%= patch_type.name %></td>
        <td><%= link_to 'Show', patch_type %></td>
        <td><%= link_to 'Edit', edit_patch_type_path(patch_type) %></td>
        <td><%= link_to 'Destroy', patch_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patch Type', new_patch_type_path %>
