<p id="notice"><%= notice %></p>

<div id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <p>PATCH<b>ETS</b> <small>- Panneau d'administration</small></p>
      </div>
    </nav>
  </div>
</div>
<div id="subheader">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <%= link_to 'Tableau de bord', admin_path, class: 'nav-link' %> </li>
          <li class="nav-item"> <%= link_to 'Clubs Étudiant', admin_clubs_path, class: 'nav-link' %></li>
          <li class="nav-item"> <%= link_to 'Type de Regroupement', admin_patch_types_path, class: 'nav-link' %></li>
          <li class="nav-item active"> <%= link_to 'Configuration', admin_configs_path, class: 'nav-link' %></li>
          <li class="nav-item"> <%= link_to 'Demandes', admin_orders_path, class: 'nav-link'%></li>
          <li class="nav-item"> <%= link_to 'Inventaire', admin_inventory_path, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div id="content">
<h1>Configs</h1>

<table id="groups" class="table table-striped table-bordered table-sm" style="width:100%">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>
        <td><%= config.key %></td>
        <td><%= config.value %></td>
        <td><%= config.description %></td>
        <td><%= link_to 'Show', admin_config_path(config) %></td>
        <td><%= link_to 'Edit', edit_admin_config_path(config) %></td>
        <td><%= link_to 'Destroy', admin_config_path(config), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Config', new_admin_config_path %>

</div>
